@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  button, input, select {
    min-height: 48px; /* Minimum touch target size */
  }
  
  /* Add more space between interactive elements */
  .MuiButton-root,
  .MuiTextField-root,
  .MuiSelect-root {
    margin: 8px 0;
  }
}
